body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f8f8f8;
  color: #222;
  width: 100vw;
  overflow-x: hidden;
}

.reno14Add {
  line-height: 60px;
  text-align: center;
  background-color: #046a38;
  font-family: 'OPPOSans-Ver2-Medium';
  color: #fff;
}

.reno14Add a {
  color: #fff;

}

.navLeft ul {
  position: relative;
}

.nav {
  margin: 0;
  padding: 0;
}

#for_space a {
  opacity: 0;
}

.simple-icons--oppo {
  position: absolute;
  left: 1rem;
  top: -2.7em;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='rgb(0, 0, 0)' d='M2.85 12.786C1.639 12.774.858 12.2.858 11.321s.781-1.452 1.99-1.465c1.21.013 1.992.588 1.992 1.465s-.782 1.453-1.99 1.465m.034-3.638h-.073C1.156 9.175 0 10.068 0 11.32s1.156 2.147 2.811 2.174h.073c1.655-.027 2.811-.921 2.811-2.174S4.54 9.175 2.885 9.148zm18.27 3.638c-1.21-.012-1.992-.587-1.992-1.465s.782-1.452 1.991-1.465c1.21.013 1.991.588 1.991 1.465s-.781 1.453-1.99 1.465m.035-3.638h-.073c-1.655.027-2.811.92-2.811 2.173s1.156 2.147 2.81 2.174h.074C22.844 13.468 24 12.574 24 11.32s-1.156-2.146-2.811-2.173zm-6.126 3.638c-1.21-.012-1.99-.587-1.99-1.465s.78-1.452 1.99-1.465c1.21.013 1.991.588 1.991 1.465s-.781 1.453-1.99 1.465zm.036-3.638h-.073c-.789.013-1.464.222-1.955.574v-.37h-.857v5.5h.857v-1.931c.49.351 1.166.56 1.954.574h.074c1.655-.027 2.81-.921 2.81-2.174s-1.155-2.146-2.81-2.173m-6.144 3.638c-1.21-.012-1.99-.587-1.99-1.465s.78-1.452 1.99-1.465c1.21.013 1.991.588 1.991 1.465s-.781 1.453-1.99 1.465zm.037-3.638H8.92c-.789.013-1.464.222-1.955.574v-.37h-.856v5.5h.856v-1.931c.491.351 1.166.56 1.955.574h.073c1.655-.027 2.811-.921 2.811-2.174s-1.156-2.146-2.81-2.173z'/%3E%3C/svg%3E");
}

header {
  color: #fff;
  padding: 0em 2em;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(198, 196, 196);
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 2;
  background: white;
  /* so it doesn't look transparent */
}

header nav ul {
  list-style-type: none;
  display: flex;
}

header nav a {
  color: #767474;
  margin-left: 1.5em;
  text-decoration: none;
  font-size: 0.85rem;
}

header nav a:hover {
  color: black;
}





.navbar {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.02);
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.brand {
  font-weight: bold;
  color: #1b1b1b;
  font-size: 1.25em;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: #444;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.2s;
  padding: 10px;
}

.nav-links li a:hover {
  background-color: #e4e4e4;
  border-radius: 20px;
}



.container {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
}


.mobile-heading {
  font-size: 1.5em;
  color: #222;
  margin-bottom: 24px;
}

.product-all {
  display: flex;
  gap: 1vw;
  flex-wrap: wrap;
}

.product-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 18px 12px 16px;
  display: flex;
  flex-direction: column;
  width: 17vw;
  min-width: 150px;
}

.product-card img {
  width: 100%;
  margin-bottom: 13px;
}

.product-card h3 {
  font-size: 1.1em;
  color: #333;
  padding-bottom: .25vh;
}

.product-card p {
  font-size: 0.98em;
  margin: 4px 0 9px 0;
  padding-bottom: .25vh;
}

.price {
  border-radius: 4px;
  font-size: 0.92em;
  padding-bottom: .25vh;
}

.price del {
  color: #666;
}

.product-card a {
  color: black;
}








.t_c {
  color: gray;
  font-size: smaller;
  padding: 50px 50px 0px 0px;
  border-bottom: 1px solid grey;
}

.t_c ul {
  list-style-type: '*';
}

#footer {
  width: 100%;
  height: 740px;
  background-color:
    #121212;
  bottom: 0;
  left: 0%;
}

#d1 {
  width: 100%;
  height: 60%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
}

#d2 {
  width: 100%;
  margin-top: -40px;
  /* margin-bottom: -100px; */
  padding: 50px 50px 0px 40px;
  /* border: 1px solid purple; */
}

.footerdiv {
  /* margin-left: 50px; */
  padding-left: 40px;
  /* width: %; */
  /* border: 1px solid red; */
  color: white;
}

.footerdiv>a {
  color: grey;
  text-decoration: none;
  line-height: 10px;
  font-weight: 600;
}

.footerdiv a:hover {
  color: white;
}

.footerdiv p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 12px;
}

.footerdiv h3 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
}

#d21 {
  width: 100%;
  /* height: 10%; */
  /* border: 1px solid red; */
  display: flex;
  color: white;
  /* text-decoration: underline; */
  /* text-decoration-line: underline;
    text-underline-offset: 0.5em; */
  /* text-decoration-color: grey; */
  padding-left: 40px;
  /* border: 1px solid red; */

}

#d21>div {
  width: 15%;
}

#d21>h4:nth-child(2) {
  padding-left: 180px;
}

#line {
  border: 1px solid grey;
  margin-top: 14px;
  margin-left: 40px;
  width: 40%;
  height: -10px;
}

#d2>h4 {
  color: white;
  padding-left: 40px;
}

i {
  color: white;
}

#line1 {
  border: 1px solid grey;
  margin-top: 80px;
  margin-left: 40px;
  width: 93%;
  height: -10px;
}

#lastdiv {
  width: 95%;
  /* border: 1px solid red; */
  margin-top: 10px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding-left: 0px;
  padding-top: 20px;
  color: rgb(206, 206, 206);
}

#lastdiv a {
  color: rgb(206, 206, 206);
  font-size: 1rem;

}

#lastdiv>div:first-child {
  gap: 1.25rem;
  display: flex;
  justify-content: space-around;
  margin-left: 25px;
}

#lastdiv>div:first-child p {
  text-align: left;
}

#lastdiv>p {
  font-size: 15px;
  color: grey;
  /* padding-bottom: 10px; */
  /* padding-left: 40px; */
}

#d2>p {
  color: grey;
  font-size: 13px;
  padding-left: 40px;
  padding-top: 30px;
}

#d21 h4 {
  border-bottom: 0.5px solid grey;
  width: 100%;
  /* padding-bottom: 3px; */
}

#social {
  border-bottom: 1px solid grey;
  padding-bottom: 25px;
  width: 93.5%;
  margin-left: 35px;
  color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.supportImg {
  display: flex;
  align-items: center;
  gap: .5em;
  color: white;
}

.supportImg a {
  color: white;
}

#social img {
  max-width: 40px;
  max-height: 40px;
  background-color: gray;
  border-radius: 50%;
  height: 24px;
}

#social img:hover {
  background-color: rgb(214, 214, 214);
}

#social a {
  text-decoration: none;
}